<div id="chat-room-wrapper">
  <div class="container-fluid">
    <h2>Chat content</h2>
  </div>
  
  <div ng-repeat="message in messages">
    <p><strong>{{message.userName}}: </strong>{{message.content}}</p>
  </div>

  <div class="message-input">
    <div class="input-group">
      <input type="text" ng-model="message" class="form-control"/>
      <span type="button" class="btn btn-primary input-group-addon" ng-click="sendMessage(message)">Send</span>
    </div>
  </div>
</div><!-- #chat-room-wrapper -->