html{
}
a{
	cursor: pointer;
}
a, a:link, a:hover, a:active{
	text-decoration: none;
}
#sidebar-wrapper {
    position: fixed;
    width: 300px;
    height: 100%;
    background: pink;
}

#chat-room-wrapper {
    margin-left: 300px;
    height: 100%;
}

.chat-title{
	display: block;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;
	padding: 10px;

	.btn-default{
	display: block;
	margin: 20px 20px 0 160px;
	border-style: none;
	padding: 10px 15px;
	}
}

.hideMenu i {
	font-size: 30px;
	float: right;
}
.showMenu {
	font-size: 30px;
	position: fixed;
	float: left;
	width: 50px;
	height: 50px;
	background-color: pink;
}
.room-list-wrapper {
	background-color: floralwhite;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	list-style-type: none;
	margin-bottom: 0;
	h4 { display: inline;}
	i {
		float: right;
		line-height: 1.5;
	}
}
.room-list-wrapper:hover, .activeRoom{
	background-color: #FFD3E0;
}

.message-input {
    position:fixed;
    bottom: 0px;
    margin: 10px;
}
.chat-room-name{
	position: fixed;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

#select-wallpaper{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.wallpaper-thumb{
	width: 50px;
	height: 50px;
}

.chat-bubble{
	background-color: #F9F7F4;
	padding: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 500px;
	display: block;
	float: right;
	clear: right;
	p{
		word-wrap: break-word;
	}
}
.bg-wallpaper{
	background-image: url("../assets/images/polka-dot.jpg");
	background-repeat: repeat;
	position: fixed;
	right: 0;
    left: 0;
    top: 0;
    bottom:0;
    z-index: -1;
}

