#sidebar-wrapper {
    position: absolute;
    width: 300px;
    height: 100%;
    background: pink;
}

#chat-room-wrapper {
    margin-left: 300px;
    height: 100%;
}

.chat-title{
	display: block;
	margin-bottom: 10px; 
	h1 {
	display: inline-block;
	padding-left: 20px;
	}
	.btn{
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
	}
}

.room-list-wrapper {
	background-color: floralwhite;
	padding-top: 10px;
	padding-bottom: 10px;
	ul{
		list-style-type: none;
	}
	a{
		text-decoration: none;
	}
}
.room-list-wrapper:hover{
	background-color: #FFD3E0;
}

.message-input {
    position:fixed;
    bottom: 0px;
    margin: 10px;
}
.chat-room-name{
	margin-bottom: 20px;
}
.chat-bubble{
	background-color: #F9F7F4;
	padding: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 60%;
	display: block;
	float: right;
	clear: right;
	p{
		word-wrap: break-word;
	}
}